


* {
	padding: 0;
	border: 0;
	margin: 0;
}

body{
	background-color: rgb(247,247,247);
	height:*;
}

#top_div {
	background-color: rgb(253,152,54);
	color: white;
	font-size: 2.813em;
	font-family: "Times New Roman", Times, serif;
	display: block;
	width: 100%;
}

#image_div {
	color: white;
	font-family: "Times New Roman", Times, serif;
	display: inline;
}

#title_div {
	text-align: center;
	color: white;
	font-family: "Times New Roman", Times, serif;
	display: block;
}

.main_logo_big {
	margin-top: 4px;
	margin-left: 12px;
	height: 85;
	width: 170;
}
body {
		height:*;
			background-color: rgb(247,247,247);
}

#main_div {
	height:100%auto;
	width:100%;
	margin:auto;
	background-color: rgb(247,247,247);
	width: 100%;
	display:block;

}



#left_stuff {
	width: 15%;
	background-color: rgb(247,247,247);
	float: left;
}

#left_menu_links {
	padding-top: 10%;
	padding-bottom: 5%;
}

a {
	height: 5%;
	display: block;
	text-align: center;
	text-decoration: none;
	color: rgb(253,152,54);
	border-width: 5px;
	border-style: ridge;
	border-color: rgb(71,51,51);
	margin-top: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
	margin-left: 5%;
	line-height: 30px;
	font-weight: bold;
}

a:hover {
  color: black;
  cursor: pointer;
}

#main_text {
margin-top: 2.5%;
background-color: rgb(247,247,247);
	font-size: 1.5em;
	font-family: "Times New Roman", Times, serif;
	min-height:93%;
	width:80%;
	position:relative;
	float: right;
	padding:2px;
	text-align: left;

}


#copyright_footer {
background-color: rgb(247,247,247);
text-align: center;
height: auto;
color: black;
font-size: 0.8em;
font-family: "Times New Roman", Times, serif;
padding: 2px 2px 2px 2px;
clear:both;
position:fixed;
left:0px;
bottom:0px;
}


#right_footer {
background-color: rgb(253,152,54);
color:white;
left:0px;
bottom:0px;
position: fixed;
text-align: center;
width:100%;
}
